<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>scs</title>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <form action="/" method="POST">
    <input name="name" id="userNameField" />
    <button type="submit">Submit</button>
  </form>
</body>

</html>