<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dd</title>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <% if(users.length > 0) { %>
  <ul>
    <% for (user of users) { %>
    <li> <%= user %> </li>
    <% } %>
  </ul>
  <% } else { %>
  <h1>No users found! </h1>
  <% } %>
</body>

</html>